<main>
  <div class="position-relative">
    <!-- shape new Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-sandbox">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container " style="margin-bottom: 1px; ">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-15">
                <h1 class="display-3  text-white">Accelerators/ IPs
                  <!-- <span>completed with examples</span> -->
                </h1>

              </div>
            </div> 
          </div>
          
        </div>

  
        
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>

      <section class="section">
        <div class="container" style="margin-top: 1px;">
          <div class="card card-profile shadow mt--300" style="width:95%;">
            <table id="customers">
<tr>
  <th>Sl.No</th>
  <th>ISU</th>
  <th>Type</th>
  <th>Accelerator IP</th>
  <th>Accelerator Ip DESC</th>
  <th>Owner Name</th>
  <th>Owner EmailID</th>
  <th>Created On</th>
</tr>
              <tr *ngFor="let user of this.jsonvaluesofexcel.Sheet1"> 
               <td >{{user.Slno}} </td>
               <td>{{user.ISU}}</td>
               <td>{{user.Type}}</td>
                 <td>{{user.AcceleratorIp}}</td>
                 <td>{{user.AccelaratorIPdesc}}</td>
                 <td>{{user.OwnerName}}</td>
                  <td>{{user.OwnerEmailId}}</td>
                 <td>{{user.Createdon}}</td>
    
             </tr>
             
           </table>
           
        
              
            
          </div>
        </div>
      </section>

      <!-- 1st Hero Variation -->
    </div>
  
    
  </main>
  
