<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-profile-cover section-shaped my-0">
        <div class="shape shape-style-1 shape-default ">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div>
              <p><br></p>
          </div>
          <div>
            <p><br></p>
        </div>
        <div>
            <p><br></p>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Welcome to Products
                  <!-- <span>completed with examples</span> -->
                </h1>
              <p class="lead  text-white">Products Page</p>

              
              


              </div>
            </div>
          </div>
        </div>
        
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>


      <div class="container">
        <div class="row" style="margin: 20px;">
            <div class="col-md-1">
              
            </div>
            <div class="col-md-3">
              
              <img src="./assets/img/theme/cart.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" (click)="assessment()">
            
            </div>
            
            <div class="col-md-4">
              
            </div>
            <div class="col-md-3">
              <img src="./assets/img/theme/car.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" (click)="design()">
            </div>
           <!-- <div class="col-md-1"></div>-->
        </div>
        <div class="row">
          
            <div class="col-md-4">
           
            </div>
            <div class="col-md-4">
              
  
              <img src="./assets/img/theme/service.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" >
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <img src="./assets/img/theme/factory.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;"(click)="migrationfactory()">
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3">
            <img src="./assets/img/theme/connect.png" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" (click)="assessment()">
          </div>
        </div>
    </div>
  



      <!-- 1st Hero Variation -->
    </div>
  
    
  </main>
  
