<main>
    <div class="position-relative">
      <!-- shape new Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-sandbox">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      
   
       
       
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>


         
              
                
              
            
        
      <!-- 1st Hero Variation -->
    </div>
   
    <section class="section">
        <div class="container" style="margin-top: 1px;">
          <div class="card card-profile shadow mt--300" style="width:95%;">
            
           <div>
               <h2 style="text-align: center;" >Frequntly Asked Questions</h2>
            <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="Q1. What is Microsoft Azure Sandbox Environment?">
                  <ng-template ngbPanelContent>
                    Ans: Microsoft Azure sandbox is an environment that was given access to TCS for performing,<br>
                    a) Delivering POCs<br>
                    b) Deploying the Dev & Test Environments<br>
                    c) Delivering Trainings.
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>

              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="Q2.How to procure a new Sandbox Subscription?">
                  <ng-template ngbPanelContent>
                    Ans: a) Account team need to send request mail to Alliance Unit for procuring Sandbox.<br>
                    b) Engg-Practice Team will share a business case template to account team to fill with details.<br>
                    c) Alliance team need to review and approve the request.<br>
                   d)  Post approval the Engg-Practice Team will create the subscription in Sandbox environment.
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>

              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="Q3.What is the duration Sandbox subscription can be used?">
                  <ng-template ngbPanelContent>
                    Ans: The Sandbox subscription can be used for a duration of 3-4 months for PoC or validation of any solution.
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>
              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="Q4:Whom should I contact for Access related issues?">
                  <ng-template ngbPanelContent>
                    Ans: Account teams can reachout to Engg-Pratice Team to support with access related issues.
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>
              <ngb-accordion (panelChange)="beforeChange($event)">
                <ngb-panel id="preventchange-1" title="Q5.Who can help creating users/resetting password in sandbox subscriptions?">
                  <ng-template ngbPanelContent>
                    Ans: Account team can reach out to Engg-Practice Team for creating new users or Password reset related activity in Azure Sandbox subscription.
                  </ng-template>
                </ngb-panel>
              
              </ngb-accordion>

           </div>
              
            
              
            
          </div>
        </div>
      </section>
  
  
  </main>
  
