<main>
    <div class="position-relative">
      <!-- shape new Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-sandbox">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-sm ml-pl-5 pt-1 d-flex my-1">
            <div class="card text-white bg-white " style="width: 1500px;">
                <div class="card-header h3 text-success font-weight-bold">Sandbox Do's <img style="width:25px;height:25px;" src="./assets/img/icons/tick.png" ></div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Things that i can do</h5> -->
                  <ul>
                  <li class="card-text text-success">Sandbox access will be given for only POC purpose or testing the Solutions or Creating Offerings.</li>
                  <li class="card-text text-success">Sandbox Credits can be given upon approval from the alliance team.</li>
                  <li class="card-text text-success">Any Subscription request to come with the Value or the Returns that they are generating.</li>
                  <li class="card-text text-success">Sandbox Susbcripton can be given to host the certain Solutions like garage.</li>
                  <li class="card-text text-success">Technical Justification is needed for Providing the Elivated Access.</li>
                  <li class="card-text text-success">GA Access might be needed in few uses cases to spin certain Services.</li>
                  <li class="card-text text-success">It is recommended to raise MSFT support request for any Issue Troubleshootings.</li>
                  <li class="card-text text-success">Password Reset, MFA key generation or privilege elivation can be taken care by Eng team.</li>
                  <li class="card-text text-success">User Creation and providing the required roles can be done by the Eng team.</li>
                  <li class="card-text text-success">House keeping and cleanup of the Sandbox will be done by Eng team.</li>

                  </ul>
                </div>
              </div>
              
              <div class="card text-white bg-white ml-5" style="width: 1500px;">
                <div class="card-header h3 text-danger font-weight-bold ">Sandbox Dont's <img style="width:25px;height:25px;" src="./assets/img/icons/wrong.png" ></div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Things that i can do</h5> -->
                  <ul>
                  <li class="card-text text-danger">Sandbox is not for the Development or Training Purposes.</li>
                  <li class="card-text text-danger">Global Admin access can not be given to any subscription users permanently.</li>
                  <li class="card-text text-danger">Eng team can not be part of Testing or Integrating the thirdparty Susbcriptions to Sandbox.</li>
                  <li class="card-text text-danger">Eng team can not be part of POC Technical Issues.</li>
                  <li class="card-text text-danger">Eng team can not be part of Testing or Integrating the thirdparty Susbcriptions to Sandbox.</li>
                  <li class="card-text text-danger">No Procurement to be done for the services in the Sandbox, it is recommended to raise GPS request and purchase the required Azure Service with new Commercial Subscription.</li>
                  </ul>
                  
                </div>
              </div>
        </div>
        <!-- <div class="container py-lg-md my-1 d-flex "> -->
       
       
       
       
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>

    
      <!-- 1st Hero Variation -->
    </div>
   
  
  
  </main>
  
