<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-shaped section-lg">
        <div class="shape shape-style-1 shape-dark">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>

          <div>
              <p><br></p>
          </div>
          <div>
            <p><br></p>
        </div>
        <div>
            <p><br></p>
        </div>

        <div class="container">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-15">
                <h1 class="display-3  text-white">Events
                  <!-- <span>completed with examples</span> -->
                </h1>
              <p class="lead  text-white">Choose the events you want to join</p>

              
              
              </div>
            </div>
            <div class="col-lg-15 order-lg-1">
              <div class="d-flex px-3">
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                  <div class="d-flex px-7">
                    <div>
                      <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                        <i class="ni ni-calendar-grid-58"></i>
                      </div>
                    </div>
                    <div class="pl-4">
                      <h5 class="title text-primary">Microsoft Ignite</h5>
                      <p> Ignite is an annual event is geared toward the IT professional and developer audiences. 
                        Ignite focuses on development tools and provides detailed technical training on new 
                        technologies and new techniques for getting things done.</p>
                      <a href="https://myignite.microsoft.com/sessions?t=%257B%2522from%2522%253A%25222021-11-02T00%253A00%253A00%252B05%253A30%2522%252C%2522to%2522%253A%25222021-11-04T23%253A59%253A00%252B05%253A30%2522%257D" 
                      target="_blank" class="text-primary">Register Here</a>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>
          </div>
        </div>
      
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>

      
      <!-- 1st Hero Variation -->
    </div>
  
    
  </main>
  
